<div class="pad">
    <h1>Menus</h1>
    <p>KickEvent UI provides two mixins to define your custom menus : <em>.inline-menu(@color, @border-color, @line-height)</em> and <em>.vertical-right-menu(@color, @border-color)</em>.</p>

    <h2 class="pad-top">Horizontal menu</h2>
    <nav class="menu-horizontal-default">
        <ul>
            <li><a href="">link 1</a></li>
            <li class="active"><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
            <li><a href="">link 4</a></li>
        </ul>
    </nav>

    <h2 class="pad-top">Vertical menu</h2>
    <nav class="menu-vertical-default" style="width: 200px;">
        <ul>
            <li><a href="">link 1</a></li>
            <li class="active"><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
            <li><a href="">link 4</a></li>
        </ul>
    </nav>
</div>
