<div class="pad">
    <h1>Tables</h1>

    <h3 class="pad-top">Simple table</h3>
    <p>.table</p>
    <table class="table">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Content RC11</td>
                <td>Content RC12</td>
                <td>Content RC13</td>
                <td>Content RC14</td>
            </tr>
            <tr>
                <td>Content RC21</td>
                <td>Content RC22</td>
                <td>Content RC23</td>
                <td>Content RC24</td>
            </tr>
            <tr>
                <td>Content RC31</td>
                <td>Content RC32</td>
                <td>Content RC33</td>
                <td>Content RC34</td>
            </tr>
            <tr>
                <td>Content RC41</td>
                <td>Content RC42</td>
                <td>Content RC43</td>
                <td>Content RC44</td>
            </tr>
        </tbody>
    </table>

    <h3 class="pad-top">Bordered and Striped table</h3>
    <p>.table.table-bordered.table-striped</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Content RC11</td>
                <td>Content RC12</td>
                <td>Content RC13</td>
                <td>Content RC14</td>
            </tr>
            <tr>
                <td>Content RC21</td>
                <td>Content RC22</td>
                <td>Content RC23</td>
                <td>Content RC24</td>
            </tr>
            <tr>
                <td>Content RC31</td>
                <td>Content RC32</td>
                <td>Content RC33</td>
                <td>Content RC34</td>
            </tr>
            <tr>
                <td>Content RC41</td>
                <td>Content RC42</td>
                <td>Content RC43</td>
                <td>Content RC44</td>
            </tr>
        </tbody>
    </table>

    <h3 class="pad-top">Simple table with theme color</h3>
    <p>.table.table-primary</p>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Content RC11</td>
                <td>Content RC12</td>
                <td>Content RC13</td>
                <td>Content RC14</td>
            </tr>
            <tr>
                <td>Content RC21</td>
                <td>Content RC22</td>
                <td>Content RC23</td>
                <td>Content RC24</td>
            </tr>
            <tr>
                <td>Content RC31</td>
                <td>Content RC32</td>
                <td>Content RC33</td>
                <td>Content RC34</td>
            </tr>
            <tr>
                <td>Content RC41</td>
                <td>Content RC42</td>
                <td>Content RC43</td>
                <td>Content RC44</td>
            </tr>
        </tbody>
    </table>

    <h3 class="pad-top">Bordered table with theme color</h3>
    <p>.table.table-bordered.table-primary</p>
    <table class="table table-bordered table-primary">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Content RC11</td>
                <td>Content RC12</td>
                <td>Content RC13</td>
                <td>Content RC14</td>
            </tr>
            <tr>
                <td>Content RC21</td>
                <td>Content RC22</td>
                <td>Content RC23</td>
                <td>Content RC24</td>
            </tr>
            <tr>
                <td>Content RC31</td>
                <td>Content RC32</td>
                <td>Content RC33</td>
                <td>Content RC34</td>
            </tr>
            <tr>
                <td>Content RC41</td>
                <td>Content RC42</td>
                <td>Content RC43</td>
                <td>Content RC44</td>
            </tr>
        </tbody>
    </table>


    <h3 class="pad-top">Full header table with theme color</h3>
    <p>.table.table-full.table-primary</p>
    <table class="table table-full table-primary">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Content RC11</td>
                <td>Content RC12</td>
                <td>Content RC13</td>
                <td>Content RC14</td>
            </tr>
            <tr>
                <td>Content RC21</td>
                <td>Content RC22</td>
                <td>Content RC23</td>
                <td>Content RC24</td>
            </tr>
            <tr>
                <td>Content RC31</td>
                <td>Content RC32</td>
                <td>Content RC33</td>
                <td>Content RC34</td>
            </tr>
            <tr>
                <td>Content RC41</td>
                <td>Content RC42</td>
                <td>Content RC43</td>
                <td>Content RC44</td>
            </tr>
        </tbody>
    </table>
</div>
